<% include partials/header %>

<div class="visitedPlace-dolist">
            <img src="/public/img/img1.jpg" alt="" class="form-bg">
            <form action="/addNewVisitedPlace" class="visitedPlace-dolist-form" method="POST">
                <h2 class="form-headline">Add new visited place</h2>
                <input type="text" name="location" class="input_placename" placeholder="Place Name">
                <input type="submit" value="Submit" class="input_submit">
            </form>
        </div>


<% include partials/footer %>
