<% include partials/header %>

<main class="loginPage-body" style="height:90vh">
  <div class="loginPage-Imgconainer">

    <h1 class="loginInPage-Heading">Get Started With Google+</h1>
    <div class="loginPage-iconContainer">
      <a href="/auth/google"><i class="fa fa-5x fa-google-plus-square"></i></a>
    </div>
  </div>
</main>
<% include partials/footer %>
